form {
    font-family: Manrope;
}

fieldset {
    background-color: #d2b4de;
    border-radius: 5px;
    margin: 20px;
    font-size: 1em;
}

legend {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}

.firstSet {
    display: flex;
    flex-direction: row;
}

.firstSet div {
    padding: 5px;
}
.secondSet div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondSet p{
    padding: 10px;
}
.textarea {
    display: flex;
    align-items: end;
    padding-top: 20px;
}
textarea {
    resize: none;
}