*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../image/back.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: "Roboto", sans-serif;
    /* font-family: cursive; */

}

/**** En tête de la page *****/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212f3d;
    color: antiquewhite;
    padding: 10px;
    flex-wrap: wrap;
}

header h1{
    color: aliceblue;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

nav li{
    padding: 10px 15px;
}

nav a:hover{
    border: 1px solid #f9e79f;
    border-bottom: 5px solid #d3b024;
    background-color: #212f3d8d;
    padding: 9px 14px;
    transition: ease-in-out;
    transition-delay: 0.1s;
}

nav a:active{
    background-color: #d3b024;
    color: #212f3d;
}

/***** Le body sans le header *****/
.aligne {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.main {
    background-color: #f9e79f65;
    box-shadow: -2px 6px 9px 9px rgb(241, 241, 205);
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 6px;
    padding: 20px;
}

.sousPartie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

section ul, section ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section ul li, section ol li {
    margin: 20px;
    padding: 10px 15px;
    color: antiquewhite;
    background-color: #212f3d;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    padding: 10px 15px;
    margin: 10px;
    background-color: #212f3d;
    border-radius: 6px;
    /* font-family: "Roboto", sans-serif; */
}

section a:hover {
    background-color: #d3b024;
    color: #212f3d;
}

h3{
    color: #093b5d;
    text-align: center;
    padding: 50px;
    background-color : #3498db;
    border-top: 35px #b03a2e solid;
    border-right: 35px #8e44ad solid;
    border-bottom: 35px #148f77 solid;
    border-left: 35px #7f8c8d solid;
    border-radius: 10px 10px 10px;
   

}

/* p {
    color: #212f3d;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
} */

img {
    width: 250px;
    height: 150px;
    margin: 10px 5px 10px 5px;
    border-radius: 9px;
}


/**** Element du fichier à propos.html *****/
#paragraphe p:first-child::before {
    content: " ";
    padding: 1.5em;
}



/****** Manipulation de texte  dans le fichier about.html ******/


#encadre {
    border: 2px solid #000;
    border-radius: 6px;
    padding: 20px;
}

/* font-size */
.tPetit {
    font-size: 10px;
}

.tNormal {
    font-size: 1em;
}

.tGrand {
    font-size: 3em;
}


/* font-weight */
.tGras {
    font-weight: bolder;
}

/* font-style */
.tItalic {
    font-style: italic;
}

/* text-decoration */
.tSouligne {
    text-decoration: underline;
}

/* text-align */

/* left = gauche*/
.tGauche {
    text-align: left;
}

/* center = centré*/
.tCentre {
    text-align: center;
}

/* rignt  = droite */
.tDroite{
    text-align: right;
}

