
table {
    border:1px solid #b6b0b0;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1em;
}

caption{
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
}
thead tr {
    background-color: #283747;
    color: #fdfefe ;
}

table th,
 table td {
    padding: 10px;
    margin: 15px;
    text-align: center;
}
thead th,
tfoot td{
    font-size: 1.3em;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #ecf0f1;
}
tbody tr:nth-child(even) {
    background-color: #a4a7a9;
}
tbody td:hover {
    background-color: #283747;
    color: #fdfefe;
    cursor: pointer;
}

tbody td:active {
    background-color: #566573;
}

tfoot {
    background-color: #7f8c8d;
}

